.main__carousel {
  position: relative;

  height: auto;
  width: 95%;
  max-height: 100%;
  background: #1b1b1e;

  padding: 5px 0;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  scroll-behavior: smooth;
}

.main__carousel__slides {
  min-width: 80%;
  height: auto;
}

.main__carousel__slide__bgimg {
  width: 100%;
  height: auto;

  opacity: 0.8;
  object-fit: cover;
}

.main__carousel__slide__text {
  position: absolute;
  top: 15%;
  left: 5%;
}

.main__carousel__slide__text h2 {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  margin-bottom: 2vw;
}

.main__carousel__slide__text h2 > span {
  color: #fbfffe;

  font-size: 8vw;
  font-weight: 700;
  font-family: 'Oswald';
  text-align: center;
  text-shadow: 2px 2px 3px #6d676e21;
  line-height: 1.1;
}

.main__carousel__slide__text_callout {
  padding: 1.5vh 6vw;
  border-radius: 1.5vw;

  font-size: 2vw;
  color: #fff;
  background-color: #faa916;
}

@media only screen and (max-width: 770px) {
  .main__carousel__slide__text {
    top: 20%;
    left: 5%;
  }

  .main__carousel__slide__text_callout {
    font-size: 4vw;
    padding: 1.2vh 10vw;
  }
}

@media only screen and (max-width: 300px) {
  .main__carousel__slide__text {
    top: 25%;
  }
}
